<!DOCTYPE html>
<html layout:decorate="~{layout/layout}" lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:h="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Select Car</title>
</head>
<body>
<div layout:fragment="main">
    <h3>Please select the car you want to modify:</h3>
    <ul th:each="car:${cars}">
        <li>
            <a th:href="@{${flowExecutionUrl}(_eventId='selectCar', carId=${car.id})}"
               th:text="${car.id + '-' + car.brand + '-' + car.model}"/>
        </li>
    </ul>
    <form method="post">
        <input type="submit" name="_eventId_cancel" value="Cancel">
    </form>
</div>
</body>
</html>
