<!DOCTYPE html>
<html layout:decorate="~{layout/layout}" lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Select Tuning</title>
</head>
<body>
<div layout:fragment="main">
    <h3>Select Tuning</h3>
    <form method="post">

        <select name="tuningSelected">
            <option th:each="s:${tunings}" th:value="${s}" th:text="${s}"></option>
        </select>
        <div>
            <input type="submit" name="_eventId_next" value="Next">
        </div>
    </form>
    <form method="post">
        <div>
            <input type="submit" name="_eventId_cancel" value="Cancel">
        </div>
    </form>
</div>
</body>
</html>
