<!DOCTYPE html>
<html layout:decorate="~{layout/layout}" lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Select Upgrade</title>
</head>
<body>
<div layout:fragment="main">
    <h3>Select Upgrade</h3>
    <form method="post">
        <div>
            Selected car: <span th:text="${flowState.car.id + '-' + flowState.car.brand + '-' + flowState.car.model}"/>
        </div>
        What do you want to do?
        <div>
            <input type="radio" name="_eventId" value="tuning" checked/>Tuning
        </div>
        <div>
            <input type="radio" name="_eventId" value="design">Design
        </div>
        <div>
            <input type="submit" value="Next">
        </div>
    </form>
    <form method="post">
        <div>
            <input type="submit" name="_eventId_cancel" value="Cancel">
        </div>
    </form>
</div>
</body>
</html>
