<!DOCTYPE html>
<html layout:decorate="~{layout/layout}" lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Select Car</title>
</head>
<body>
<div layout:fragment="main">
    <h3>Summary</h3>
    <div>
        Selected car: <span th:text="${flowState.car.id + '-' + flowState.car.brand + '-' + flowState.car.model}"/>
    </div>
    <div>
        Selected upgrade:
        <span th:if="${flowState.upgradeType==T(at.java.flows.wizzard.UpgradeType).TUNING}" th:text="${flowState.selectedTuning}"/>
        <span th:if="${flowState.upgradeType==T(at.java.flows.wizzard.UpgradeType).DESIGN}" th:text="${flowState.selectedDesignUpgrade}"/>
    </div>
    <form method="post">
        <div>
            <input type="submit" name="_eventId_confirm" value="Confirm">
        </div>
        <div>
            <input type="submit" name="_eventId_cancel" value="Cancel">
        </div>
    </form>
</div>
</body>
</html>
