<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title th:text="'Just a Thymeleaf title'">Just a demo title</title>
</head>
<body>

<nav th:fragment="navigation" class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Cars</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li th:class="'nav-item' + ${view_name=='car_list'?' active':''} " sec:authorize="isAuthenticated()">
                <a class="nav-link" href="../car_list.html" th:href="@{/car_list}" th:text="#{navigation.carList}">Car
                    List</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a th:class="'nav-link' + ${view_name=='add_car'?' active':''}" href="../add_car.html" th:href="@{/add_car_form}" th:text="#{navigation.addCar}">Add
                    Car</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a th:class="'nav-link' + ${view_name=='preferences'?' active':''}" href="../preferences.html" th:href="@{/preferences_form}"
                   th:text="#{navigation.preferences}">Preferences</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/flows/wizzard}" th:text="#{car.upgrades}">Wizzard</a>
            </li>

            <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                <a th:class="'nav-link' + ${view_name=='user_details'?' active':''}" href="../user_details.html.html" th:href="@{/user_details}">User Details</a>
            </li>
        </ul>
        <span class="navbar-text" sec:authorize="isAuthenticated()">
            <span>User:
                <span sec:authentication="principal.username">test</span>
            </span>
            <span>Roles:
                <span sec:authorize="hasRole('ADMIN')">ADMIN</span>
                <span sec:authorize="hasRole('USER')">USER</span>
            </span>
            <a href="#" th:href="@{/logout}">logout</a>
        </span>
        <span class="navbar-text" sec:authorize="!isAuthenticated()">
            <span>User:
                <span>Anonymous</span>
            </span>
            <a href="#" th:href="@{/login_form}">login</a>
        </span>
        </span>
    </div>
</nav>

</body>
</html>
