.error, .delete_button {
    color: red;
    font-weight: bold;
}

.cars_line_item, .cars_line_label {
    width: 100px;
}

.cars_line_label {
    font-weight: bold;
}

.hilite {
    background-color: coral;
}

.form_line {
    display: flex;
}

.form_label {
    width: 150px;
}

.form_input {
    width: 100px;
}

.line_even {
    background-color: aliceblue;
}

.line_odd {
    background-color: beige;
}

nav {
    padding: 10px 20px 0px 0px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.header * {
    padding: 10px;
}
