<!DOCTYPE html>
<html layout:decorate="~{layout/layout}" lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:javascript="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${carCommand.id == null} ? #{navigation.addCar} : #{edit_car}">Add Car</title>
</head>
<body>
<div layout:fragment="main">
    <h3 th:text="${carCommand.id == null} ? #{navigation.addCar} : #{edit_car}">Add/Edit Car</h3>

    <form class="border rounded px-3 py-3" th:object="${carCommand}" th:action="@{/save_car}" method="POST">
        <div th:if="${#fields.hasErrors('*')}" class="error">
            ERROR!!!
        </div>
        <div class="error" th:each="err : ${#fields.errors('global')}" th:text="${err}">Car validaion Error</div>

        <div class="form-group row" th:if="${carCommand.id!=null}">
            <label class="col-form-label col-sm-2" th:text="#{car.id}">ID</label>
            <div class="col-sm-3">
                <input type="hidden" th:field="*{id}"/>
                <div if="car_id" class="form-control" th:text="${carCommand.id}"/>
            </div>
        </div>

        <div class="form-group row">
            <label for="brand" class="col-form-label col-sm-2" th:text="#{car.brand}">Brand</label>
            <div class="col-sm-3">
                <input id="brand" class="form-control" type="text" th:field="*{brand}"/>
                <div class="error" th:each="err : ${#fields.errors('brand')}" th:text="${err}"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-sm-2" th:text="#{car.model}">Model</label>
            <div class="col-sm-3">
                <input class="form-control" type="text" th:field="*{model}"/>
                <div class="error" th:each="err : ${#fields.errors('model')}" th:text="${err}"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-sm-2" th:text="#{car.horsepowers}">Horsepowers</label>
            <div class="col-sm-3">
                <input class="form-control" type="text" th:field="*{horsepowers}"/>
                <div class="error" th:each="err : ${#fields.errors('horsepowers')}" th:text="${err}"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-sm-2" th:text="#{car.gearbox}">Gearbox</label>
            <div class="col-sm-3">
                <select class="form-control" th:field="*{gearbox}">
                    <option value="Item" th:each="box : ${gearboxes}" th:value="${box}" th:text="${box}">Item</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-sm-2" th:text="#{car.build_date}">Build Date</label>
            <div class="col-sm-3">
                <input class="form-control" type="text" th:field="*{buildDate}"/>
                <div class="error" th:each="err : ${#fields.errors('buildDate')}" th:text="${err}"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-sm-2" th:text="#{car.number_plate}">Number Plate</label>
            <div class="col-sm-3">
                <input class="form-control" type="text" th:field="*{numberPlate}"/>
                <div class="error" th:each="err : ${#fields.errors('numberPlate.number')}" th:text="${err}"/>
                <div class="error" th:each="err : ${#fields.errors('numberPlate.district')}" th:text="${err}"/>
                <div class="error" th:each="err : ${#fields.errors('numberPlate')}" th:text="${err}"/>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-3">
                <input type="submit" class="btn btn-primary" value="Save" th:value="#{button.save}"/>
            </div>
            <div class="col-sm-3">
                <input type="button" class="btn btn-primary" value="Save" th:value="#{button.cancel}" onclick="history.back()"/>
            </div>
        </div>
    </form>
</div>
</body>
</html>
