<!DOCTYPE html>
<html layout:decorate="~{layout/layout}" lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Car List</title>
</head>
<body>
<div layout:fragment="main">
    <h3>Car List</h3>
    <form th:object="${searchFilter}" th:action="@{/car_filter}" method="POST">
        <div class="form-row align-items-center">
            <div class="col col-sm-2">
                <label class="" th:text="#{carlist.filter}">Filter:</label>
                <input class="" type="text" th:field="*{modelOrBrandFilter}"/>
            </div>
            <div class="col col-sm-2">
                <label th:text="#{car.gearbox}">Gearbox</label>
                <select  th:field="*{gearboxFilter}">
                    <option value="any" th:text="#{gearbox.any}">Any</option>
                    <option value="Item" th:each="box : ${gearboxes}" th:value="${box}" th:text="${box}">Item</option>
                </select>
            </div>
            <div class="col col-sm-2">
                <input class="btn btn-primary mb-2" type="submit" value="Filter" th:value="#{button.filter}"/>
            </div>
        </div>
    </form>
    <table class="table">
        <thead class="thead-light bg-primary">
        <tr>
            <th scope=col th:text="#{carlist.delete}">Id</th>
            <th scope=col th:if="${preferences.showId}" th:text="#{car.id}">Id</th>
            <th scope=col th:text="#{car.brand}">Brand</th>
            <th scope=col th:text="#{car.model}">Model</th>
            <th scope=col th:if="${preferences.showBuildDate}" th:text="#{car.build_date}">Build Date</th>
            <th scope=col th:text="#{car.number_plate}">Number Plate</th>
            <th scope=col th:text="#{car.upgrades}">Upgrades</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="car,i:${cars}">
            <td>
                <a class="delete_button" href="#" th:href="@{'/remove_car/'+${car.id}}">X</a>
            </td>
            <td th:if="${preferences.showId}">
                <div th:text="${car.id}">1</div>
            </td>
            <td>
                <div th:text="${car.brand}">Porsche</div>
            </td>
            <td>
                <a href="#" th:href="@{'/edit_car_form/'+${car.id}}"
                   th:text="${car.model}">911</a>
            </td>
            <td>
                <div th:text="${car.buildDate}" th:if="${preferences.showBuildDate}">09/1016
                </div>
            </td>
            <td>
                <div th:text="${car.numberPlate}">I-345T</div>
            </td>
            <td>
                <div>
                    <span th:text="${car.tunings}"/>
                    <span th:text="${car.designUpgrades}"/>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>
