<!DOCTYPE html>
<html layout:decorate="~{layout/layout}" lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{navigation.preferences}">Preferences</title>
</head>
<body>
<div layout:fragment="main">
    <h3>Login</h3>
    <form class="border rounded px-3 py-3" th:action="@{/login}" method="POST">
        <div class="form-group row">
            <label class="col-form-label col-sm-1">Username</label>
            <input class="form-control col-sm-2" type="text" name="username"/>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-sm-1">Password</label>
            <input class="form-control col-sm-2" type="password" name="password"/>
        </div>
        <div class="form-group row">
            <div class="col-sm-2">
                <input class="btn btn-primary" type="submit" value="Login"/>
            </div>
        </div>
    </form>
</div>

</body>
</html>
