<!DOCTYPE html>
<html layout:decorate="~{layout/layout}" lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{navigation.preferences}">Preferences</title>
</head>
<body>
<div layout:fragment="main">
    <div th:text="#{navigation.preferences}">Preferences</div>
    <form th:object="${preferences}" th:action="@{save_preferences}" method="post">
        <div class="form_line">
            <label class="form_label" th:text="#{preferences.show_id}">Show Id</label>
            <input class="form_input" type="checkbox" th:field="*{showId}"/>
        </div>
        <div class="form_line">
            <label class="form_label" th:text="#{preferences.show_build_date}">Show Build Date</label>
            <input class="form_input" type="checkbox" th:field="*{showBuildDate}"/>
        </div>
        <div class="form_line">
            <label class="form_label" th:text="#{preferences.highlight_filter}">HighLight Filter</label>

            <input class="form_input" type="text" th:field="*{highlight}"/>
        </div>
        <div class="form_line">
            <input type="submit" value="Save" th:value="#{button.save}"/>
        </div>
    </form>
</div>

</body>
</html>
