<!DOCTYPE html>
<html layout:decorate="~{layout/layout}" lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{navigation.preferences}">Preferences</title>
</head>
<body>
<div layout:fragment="main">
    <div>User Details</div>
    <div class="form_line">
        <label class="form_label">Username</label>
        <div class="form_input" th:text="${userDetails.username}"/>
    </div>
    <div class="form_line">
        <label class="form_label">Password</label>
        <div class="form_input" th:text="${userDetails.password}"/>
    </div>
    <div class="form_line">
        <label class="form_label">Username</label>
        <div class="form_input" th:text="${userDetails.authorities}"/>
    </div>
</div>

</body>
</html>
