<!DOCTYPE html>
<html layout:decorate="~{layout/layout}" lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{welcome.title}">Welcome</title>
</head>
<body>
<div layout:fragment="main">
    <div th:text="#{welcome.message}">Welcome to car database</div>
</div>
</body>
</html>
